.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-content: space-evenly;
  max-height: 100vh;
  overflow: hidden;
}

@keyframes fadeSquares {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.square {
  background-color: green;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 1px solid transparent;
  opacity: 0;
  animation: fadeSquares 8s infinite;
  transition: opacity 0.3s;
}

.color-1 {
  background-color: var(--color-gh-1);
}

.color-2 {
  background-color: var(--color-gh-2);
}

.color-3 {
  background-color: var(--color-gh-3);
}

.color-4 {
  background-color: var(--color-gh-4);
}

.color-5 {
  border: 1px solid transparent;
  background-color: transparent;
}

.color-6 {
  border: 1px solid transparent;
  background-color: transparent;
}

.color-7 {
  border: 1px solid transparent;
  background-color: transparent;
}

.animate-1 {
  animation-delay: 1s;
}

.animate-2 {
  animation-delay: 2s;
}

.animate-3 {
  animation-delay: 3s;
}

.animate-4 {
  animation-delay: 4s;
}

.animate-5 {
  animation-delay: 5s;
}

.animate-6 {
  animation-delay: 6s;
}

.animate-7 {
  animation-delay: 7s;
}
