.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--theme-text);
}

.content {
  max-width: 700px;
  text-align: center;
  padding: 0 2rem;
}

.content p {
  padding-top: 1rem;
  opacity: 0.8;
}

.header {
  font-weight: 600;
  padding-top: 2rem;
}

.header code {
  color: var(--theme-yellow);
}

.link {
  color: var(--theme-blue-2);
  text-decoration: none;
}
