.date {
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-left: 2rem;

  color: var(--theme-text-secondary);
}

.sectionIcon {
  padding-right: 0.2rem;
  padding-bottom: 1px; /* aligns with text */
}
