.outer {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  color: var(--theme-text);
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
  gap: 1rem;
}

.output {
  display: flex;
  background: repeating-linear-gradient(
    -45deg,
    #f0f0f0,
    #f0f0f0 10px,
    #e8e8e8 10px,
    #e8e8e8 20px
  );
  box-shadow: 0 0 0.5rem var(--shadow-color);
  border-radius: var(--rounded-block);
  padding: 1rem;
  overflow: auto;
  height: 400px;
  width: 100%;
  filter: blur(0px);
  transition: filter 0.5s;
}

.output.loading {
  filter: blur(6px);
}

:global(.dark) .output {
  background: repeating-linear-gradient(
    -45deg,
    #1a1a1a,
    #1a1a1a 10px,
    #141414 10px,
    #141414 20px
  );
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 3px solid var(--theme-blue-2);
  border-radius: var(--rounded-block);
  box-shadow: 0 0 0.5rem var(--shadow-color);
  overflow: hidden;
}

.header {
  color: var(--theme-inverted-text);
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
  background: var(--theme-blue-2);
  height: 30px;
}

.htmlBlock {
  display: flex;
  width: 100%;
}

.styleBlock {
  display: block;
  width: 100%;
}

.codeBlock {
  font-family: var(--ffamily);
  font-style: var(--fstyle);
  display: block;
  padding: 0;
  overflow-x: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
  color: white;
  padding: 1rem;
  height: 400px;
  border: none;
  background: #282a36;
  resize: none;
}

.codeBlock:focus {
  outline: 2px solid red;
}

.inputs {
  display: flex;
  gap: 1rem;
}

.framelessFooter {
  padding-top: 1rem;
  display: flex;
}

.framelessFooter a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--theme-text);
}

.field {
  padding: 0;
  color: var(--theme-text);
  font-size: 1.5rem;
  border: none;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
  background: transparent;
}

.button {
  cursor: pointer;
  color: var(--theme-inverted-text);
  font-size: 0.8em;
  border: none;
  background: transparent;
  margin-left: auto;
  font-size: 1rem;
  padding: 0 1rem;
  position: relative;
  width: 3rem;
  height: 100%;
  overflow: hidden;
}

.button.inline {
  margin-left: 0;
}

.clicker {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.2s ease-in-out;
}

.clicker.copy {
  transform: translateY(-1.6rem);
}

.clicker.clicked {
  transform: translateY(0.4rem);
}

.twLoading {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  opacity: 0.8;
}

.twLoadingText {
  font-size: 0.8rem;
}

.description {
  font-size: 0.8rem;
  color: var(--theme-text);
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .inputs {
    flex-direction: column;
  }

  .codeBlock {
    height: 300px;
  }
}
