.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 4rem 2rem 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
