.li {
  padding-top: 0.7rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 300;
}

.li::marker {
  font-size: 1.1em;
}

.li code {
  background: var(--theme-blue-0);
  border-left: 2px solid var(--theme-blue-2);

  color: var(--theme-blue-2);
  padding: 0.1rem 0.3rem;
  box-shadow: var(--theme-box-shadow-tiny);
  border-radius: 5px;
  font-size: 1rem;
  word-break: break-word;
}
