.button {
  z-index: 9;
  position: relative;
  margin: 2rem auto 0 auto;
  background: var(--theme-background);
  border: 2px solid var(--theme-text);
  color: var(--theme-text);
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  text-decoration: none;
}

.container {
  display: flex;
}

.icon {
  font-size: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.6rem;
  display: block;
}

.iconWrapper {
  border-left: 2px solid var(--theme-text);
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
}

.text {
  height: 100%;
  padding: 0.2rem 1rem;
}
