.avatarWrapper {
  position: relative;
}

.navigationBubble {
  position: absolute;
  opacity: 0;
  background-color: var(--theme-background);
  left: -6rem;
  right: -6rem;
  top: 1rem;
  bottom: 1rem;
  z-index: -1;
  border-radius: 2rem;
  box-shadow: none;
  transition: opacity var(--animation) 0s;
}

.avatarBubble {
  position: absolute;
  opacity: 0;
  background-color: var(--theme-background);
  left: -1rem;
  right: -1rem;
  top: -1rem;
  bottom: -1rem;
  z-index: -1;
  border-radius: 100%;
  box-shadow: none;
  transition: opacity var(--animation) 0s;
}

.avatarBubble::before {
  opacity: 0;
  background-color: var(--theme-background);
  display: block;
  content: ".";
  font-size: 0;
  width: 16rem;
  position: absolute;
  left: -4.5rem;
  border-radius: 2rem;
  top: 2rem;
  bottom: 2rem;
}

.shadowGroup {
  opacity: 1;
  pointer-events: none;
}

.shadow {
  opacity: 1;
  box-shadow: var(--theme-box-shadow-standard);
  transition: opacity var(--animation) 0.3s;
}

.shadow:before {
  opacity: 1;
  transition: opacity var(--animation) 0.6s;
}
