@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.7;
  }
}

.article {
  max-width: 900px;
  margin: 0 auto;
  padding: 14rem 2rem 2rem 2rem;
  color: var(--theme-text);
  position: relative;
  animation-duration: 1s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  opacity: 0;
}

.back {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--theme-text);
  transition: opacity var(--animation);
  animation-name: slide-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
  opacity: 0;
}

.back:hover {
  opacity: 1;
}

.coverWrapper {
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  top: 0;
  z-index: 0;
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.coverWrapper img {
  object-fit: cover;
}
