.topSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 1rem;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 2rem;
  position: relative;
}

.topSection > * {
  z-index: 1;
  position: relative;
}

.title {
  padding-top: 1rem;
  font-size: 3rem;
}

.metadata {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  min-width: 12rem;
}

.cheersWrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.subItems {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.readingTime.readingTime {
  padding-top: 0.5rem;
}

.viewCount {
  font-size: 0.8rem;
  padding-top: 0.9rem;
  padding-left: 2rem;
  margin-right: auto;

  color: var(--theme-text);

  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  column-gap: 0.7rem;
  width: 100%;
}

.viewCount svg {
  color: var(--theme-text-secondary);
}

@media screen and (max-width: 800px) {
  .topSection {
    display: block;
    width: 100%;
    padding-bottom: 1rem;
  }

  .subItems {
    flex-direction: row-reverse;
    column-gap: 1rem;
  }

  .readingTime.readingTime {
    padding-left: 0;
  }

  .viewCount {
    padding-left: 0;
    width: unset;
    padding-top: 0.5rem;
  }
}
