.fade {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40rem;
  background: radial-gradient(
    circle at center 160%,
    var(--theme-background) 75%,
    var(--theme-transparent) 85%
  );
}
