.coverWrapper {
  position: absolute;
  left: 0;
  right: 0;
  height: 30rem;
  top: 0;
  z-index: 0;
}

.coverWrapper img {
  object-fit: cover;
}

.article {
  padding: 22rem 2rem 4rem 2rem;
  z-index: 2;
  position: relative;
  margin: 0 auto;
  color: var(--theme-text);
  position: relative;
}

.article video {
  border-radius: var(--rounded-block);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  filter: drop-shadow(0 0 0.5rem var(--shadow-color));
}

.bg {
  background: var(--theme-background);
  margin-top: 1rem;
}
