.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  position: relative;
  z-index: 1;
}

.icons {
  display: flex;
  column-gap: 1rem;
  font-size: 1.1rem;
  padding: 10px 1rem;
  background-color: transparent;
  border-radius: 10rem;
  backdrop-filter: blur(10px);
}

.icon {
  transition: all 0.2s;
}

:global(body.dark) .icon path {
  color: var(--darkColor);
}

.icon:hover {
  transform: scale(1.2);
  filter: saturate(130%);
}
