.barWrapper.visible {
  opacity: 1;
}

.barWrapper {
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  opacity: 0;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.barInner {
  background-color: var(--theme-blue-1);
  width: 0%;
  height: 100%;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-name: progressBar;
  animation-timing-function: ease-in-out;
}
