@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.fallback {
  animation-name: shimmer;
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
  border-radius: 1rem;
}

.outer {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.controls {
  margin-left: auto;
  margin-bottom: 1rem;
  display: flex;
  column-gap: 1rem;
  color: var(--theme-text);
  font-size: 1.2rem;
  margin-right: 2rem;
}

.control {
  opacity: 1;
  transition: opacity var(--animation);
  cursor: pointer;
}

.control:hover {
  opacity: 0.8;
}

.wrapper {
  height: 30rem;
  position: relative;
  display: flex;
  column-gap: 0.5rem;
  padding: 0 2rem;
}

.imageParent {
  position: relative;
  height: 100%;
  flex-shrink: 1;
  min-width: 2px;
  transition:
    flex var(--animation),
    filter var(--animation);
  cursor: pointer;
  min-width: 8rem;
  filter: grayscale(100%) contrast(1.4);
  border-radius: 1rem;

  box-shadow: var(--theme-box-shadow-small);
  overflow: hidden;
}

.text {
  position: absolute;
  right: -5px;
  left: -5px;
  top: 0;
  bottom: 0;
  z-index: 999999;
  font-weight: 900;
  color: var(--theme-off-white);
  /* backdrop-filter: blur(2px); */
  background-color: rgba(0, 0, 0, 0.2);
  padding: calc(1.4rem + 5px);
  overflow: hidden;
  min-width: 532px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: background-color var(--animation);
  transition-delay: 0s;
}

.inner {
  height: 50%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity var(--animation);
  transition-delay: 0s;
}

.inner .description {
  margin-top: auto;
}

.text h1 {
  font-size: 2.2rem;
  padding-bottom: 0.1rem;
  font-weight: 500;
}

.text p {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.6rem;
}

.active {
  flex-shrink: 0;
  flex-grow: 1;
  filter: grayscale(0%) contrast(1);
}

.active .inner {
  opacity: 1;
  transition-delay: 0s;
}

.active .text {
  background-color: rgba(0, 0, 0, 0.7);
}

.imageParent img {
  object-fit: cover;
  /* Tiny border radius still makes a differnece */
  border-radius: 1rem;
  object-position: center;
}

.metadata.metadata {
  font-size: 1rem;
  margin-bottom: 1rem;
  opacity: 0.6;
}

.metadataIcon {
  margin-right: 0.5rem;
}

.sliderElement {
  /* box-shadow: 0 0 0.8rem var(--shadow-color); */
  /* box-shadow: 0 0 0.2rem var(--shadow-color); */
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    row-gap: 1rem;
    padding: 0 1rem;
    height: unset;
    padding: 0 30px;
  }

  .imageParent {
    position: relative;
    flex-grow: 1;
    height: 10rem;
    filter: grayscale(0%);
    transition: none;
  }

  .text {
    flex-shrink: 0;
    flex-grow: 1;
    opacity: 1;
    min-width: unset;
    border-radius: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .inner {
    opacity: 1;
    height: 100%;
  }

  .imageParent:nth-child(odd) .text {
    margin-right: 0;
  }

  .text h1 {
    font-size: 1.5rem;
  }

  .text p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: -10px;
  }

  .fallback {
    height: 944px; /* This is a hack to avoid CLS - can probably be done better */
  }

  .controls {
    display: none;
  }

  .metadata.metadata {
    margin-bottom: 0.5rem;
  }
}
