.imageParent {
  display: block;
  position: relative;
  width: 100%;
  z-index: 0;
  margin: 1rem 0;
  aspect-ratio: var(--aspect-ratio);
}

.imageParent.tableMode {
  height: 15rem;
  width: 15rem;
}

.imageParent img {
  object-fit: contain;
}
