.imageParent {
  display: block;
  position: relative;
  width: 100%;
  height: 30rem;
  z-index: 0;
  margin: 1rem 0;
}

.imageParent.tableMode {
  height: 15rem;
  width: 15rem;
}

.short {
  height: 20rem;
}

.tiny {
  height: 6rem;
}

.giant {
  height: 50rem;
}

.imageParent img {
  object-fit: contain;
}

.vertical {
  height: 50rem;
}

@media only screen and (max-width: 700px) {
  .imageParent,
  .short {
    height: 15rem;
  }

  .vertical {
    height: 25rem;
  }

  .giant {
    height: 30rem;
  }
}
