.bq {
  background: var(--theme-blue-0);
  border-left: 3px solid var(--theme-blue-2);
  line-height: 1.8rem;
  margin: 2rem 0 1rem 0;
  padding: 0 1rem;
}

.bq :global(.svg-inline--fa) {
  margin-right: 0.5rem;
}

.bq p {
  font-size: 1rem;
}

.bq code {
  background: var(--theme-blue-1);
  border-left: 2px solid var(--theme-blue-2);

  color: var(--theme-text);
  padding: 0.1rem 0.3rem;
  box-shadow: var(--theme-box-shadow-tiny);
  border-radius: 5px;
  font-size: 1rem;
  word-break: break-word;
}

:global(body.dark) .bq code {
  background: var(--theme-blue-3);
}

.bq pre code {
  background: none;
  border: none;
}
