.bq {
  background: var(--theme-blue-0);
  border-left: 3px solid var(--theme-blue-2);
  line-height: 1.8rem;
  margin: 2rem 0 1rem 0;
  padding: 0 1rem;
  border-radius: var(--rounded-block);
  filter: drop-shadow(0 0 0.1rem var(--shadow-color));
}

.bq :global(.svg-inline--fa) {
  margin-right: 0.5rem;
}

.bq p {
  font-size: 1rem;
}

.bq > p > code {
  color: var(--theme-text);
  padding: 0.1rem 0.3rem;
  box-shadow: var(--theme-box-shadow-tiny);
  border-radius: 5px;
  font-size: 1rem;
  word-break: break-word;
}

.bq.bq > p > code {
  background: var(--theme-blue-1);
  border-left: 2px solid var(--theme-blue-3);
  color: var(--theme-blue-3);
}

.bq pre code {
  background: var(--background);
}

:global(body.dark) .bq.bq > p > code {
  background: var(--theme-blue-3);
  color: var(--theme-inverted-text);
  border-left: 2px solid var(--theme-inverted-text);
}

:global(body.dark) .bq.bq pre code {
  background: var(--background);
  color: var(--foreground);
  border-left: 3px solid var(--theme-blue-2);
}

.bq.bq pre code {
  color: var(--foreground);
  background: var(--background);
  border-left: 3px solid var(--theme-blue-2);
}
