@keyframes slide-down {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.7;
  }
}

.article {
  max-width: 900px;
  margin: 0 auto;
  padding: 8rem 2rem 2rem 2rem;
  color: var(--theme-text);
  position: relative;
}

.article video {
  border-radius: var(--rounded-block);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 0.5rem var(--shadow-color);
}

.back {
  font-size: 1rem;
  text-decoration: none;
  color: var(--theme-text);
  transition: opacity var(--animation);
  animation-name: slide-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
  opacity: 0;
  z-index: 2;
  position: relative;
}

.back:hover {
  opacity: 1;
}

.coverWrapper {
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  top: 0;
  z-index: 0;
  display: flex;
  container-type: inline-size;
}

.coverWrapper img {
  object-fit: cover;
  max-width: 1400px;
  margin: 0 auto;
}

.sideFade {
  pointer-events: none;
  max-width: 1400px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    var(--theme-background) 0%,
    transparent 50%,
    var(--theme-background) 100%
  );
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s;
}

.diag1Fade {
  pointer-events: none;
  max-width: 1400px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top right,
    var(--theme-background) 0%,
    transparent 30%,
    transparent 100%
  );
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s;
}

.diag2Fade {
  pointer-events: none;
  max-width: 1400px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top left,
    var(--theme-background) 0%,
    transparent 30%,
    transparent 100%
  );
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s;
}

.bodyText {
  position: relative;
}

.clip {
  overflow-x: hidden;
}

@container (max-width: 1300px) {
  .sideFade,
  .diag1Fade,
  .diag2Fade {
    opacity: 0;
  }
}
