.article {
  max-width: 900px;
  margin: 0 auto;
  padding: 14rem 2rem 2rem 2rem;
  color: var(--theme-text);
  position: relative;
}

.back {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--theme-blue-3);
  opacity: 0.7;
  transition: opacity var(--animation);
}

.back:hover {
  opacity: 1;
}

.title {
  padding-top: 1rem;
}

.coverWrapper {
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  top: 0;
  z-index: 0;
}

.coverWrapper img {
  object-fit: cover;
}

.metadata {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}

.cheersWrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.readingTime.readingTime {
  padding-top: 0.5rem;
}
