.tags {
  display: flex;
  column-gap: 0.8rem;
  row-gap: 0.7rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  padding-left: 2rem;
  margin-top: auto;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: 1rem;
}

.icon {
  position: absolute;
  left: -2px;
  bottom: -3px;
  font-size: 5px;
  color: var(--theme-grid-line-color);
  opacity: 1;
}
