.tags {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: start;
  position: relative;
  margin-top: auto;
  padding: 1rem 1rem 0.5rem 1rem;
}

.icon {
}
