.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: transparent;
  backdrop-filter: blur(0);
  overflow-y: scroll;
  transition: background-color var(--animation),
    backdrop-filter var(--animation);
}

.wrapper.fadeIn {
  background-color: rgba(39, 39, 39, 0.3);
  backdrop-filter: blur(10px);
}

.inner {
  background: var(--theme-background);
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  position: relative;
  transform: translateY(100vh);
  transition: transform var(--animation);
  transition-delay: 10ms;
}

@media only screen and (max-width: 700px) {
  .inner {
    width: 100%;
    margin: 0;
  }
}

.inner.fadeIn {
  transform: translateY(0);
}

.backButton {
  position: absolute;
  z-index: 9;
  padding: 1rem 1.5rem;
  background: var(--theme-dark-blue);
  opacity: 1;
  color: white;
  border-bottom-right-radius: 2rem;
}
