.content {
  padding-bottom: 6rem;
  padding-top: 5rem;
}

.footer {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.9rem;
}

.paragraph.paragraph {
  text-align: left;
  max-width: 800px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.sectionHeader {
  text-align: left;
  max-width: 800px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  font-weight: 900;
  padding-top: 8rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  color: var(--theme-text);
}

@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.name.name {
  background: linear-gradient(
    90deg,
    var(--theme-blue-1),
    var(--theme-blue-3),
    var(--theme-yellow),
    var(--theme-blue-2)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: 900;
  animation: textGradient 15s ease infinite;
  background-size: 400% 400%;
}

.icon {
  font-size: 10rem;
}

.heroIcon {
  font-size: 8rem;
  margin: 0 auto;
  padding-top: 5rem;
}

.blogButton {
  text-align: center;
  margin-top: 6rem;
  display: flex;
}

.blogButtonText {
  background: linear-gradient(
    90deg,
    var(--theme-blue-1),
    var(--theme-blue-3),
    var(--theme-yellow),
    var(--theme-blue-2)
  );
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 10rem;
  color: white;
  animation: textGradient 30s ease infinite;
  background-size: 400% 400%;
  cursor: pointer;
  text-decoration: none;
}

.blogButtonText svg {
  margin-left: 0.5rem;
  padding-top: 1px;
}
