:root {
  /* Static colors */
  --theme-dark-blue: rgba(32, 65, 123, 1);
  --theme-high-contrast: rgba(14, 32, 65, 1);
  --theme-off-white: rgba(227, 229, 240, 1);

  /* Theme colors */
  --theme-blue-0: rgba(211, 233, 241, 1);
  --theme-blue-1: rgba(135, 206, 235, 1);
  --theme-blue-2: rgba(30, 144, 255, 1);
  --theme-blue-3: rgba(0, 0, 128, 1);
  --theme-text: var(--theme-dark-blue);
  --theme-text-secondary: rgba(32, 65, 123, 0.6);
  --theme-text-high-contrast: var(--theme-high-contrast);
  --theme-yellow: rgba(246, 174, 45, 1);
  --theme-dark: rgba(39, 39, 39, 1);
  --theme-inverted-text: var(--theme-off-white);
  --theme-transparent: rgba(0, 0, 0, 0);
  --code-background: rgba(40, 42, 54, 1);
  --shadow-color: rgb(164, 164, 164);

  /* Theme animation */
  --animation: 0.5s ease-in-out;
  --animation-curve: cubic-bezier(0.2, 0.85, 0.45, 1.3);

  /* Use-cases */
  --theme-background: rgba(255, 255, 255, 1);
  --theme-box-shadow-standard: 0px 0px 20px 1px var(--shadow-color);
  --theme-box-shadow-small: 0px 0px 100px 0px rgba(226, 226, 226, 0.5);
  --theme-background-gradient: linear-gradient(
    180deg,
    var(--theme-blue-2) 0%,
    var(--theme-transparent) 85%
  );
  --theme-pill: rgba(200, 200, 200, 0.5);
}

body.dark {
  --theme-high-contrast: rgba(201, 218, 249, 1);

  --theme-blue-0: rgba(0, 70, 95, 1);
  --theme-blue-1: rgba(75, 185, 229, 1);
  --theme-blue-2: rgba(134, 192, 251, 1);
  --theme-blue-3: rgba(100, 149, 195, 1);
  --theme-text: rgba(208, 214, 227, 1);
  --theme-text-secondary: rgba(208, 214, 227, 0.6);
  --theme-text-high-contrast: var(--theme-high-contrast);
  --theme-yellow: rgba(246, 174, 45, 1);
  --theme-dark: rgba(39, 39, 39, 1);
  --theme-inverted-text: rgba(25, 55, 109, 1);
  --theme-transparent: rgba(0, 0, 0, 0);
  --code-background: rgba(40, 42, 54, 1);
  --shadow-color: rgba(46, 46, 71, 1);

  /* Theme animation */
  --animation: 0.5s ease-in-out;
  --animation-curve: cubic-bezier(0.2, 0.85, 0.45, 1.3);

  /* Use-cases */
  --theme-background: rgba(10, 9, 53, 1);
  --theme-box-shadow-standard: 0px 0px 20px 1px var(--shadow-color);
  --theme-box-shadow-small: 0px 0px 100px 0px rgba(46, 46, 71, 0.5);
  --theme-background-gradient: linear-gradient(
    180deg,
    var(--theme-blue-1) 0%,
    var(--theme-transparent) 85%
  );
}

* {
  --no-animation: 0s linear;
  transition: color var(--no-animation), background-color var(--no-animation),
    border-color var(--no-animation), box-shadow var(--no-animation);
}
