.wrapper {
  display: flex;
  flex: 1 1 auto;
  position: relative;

  z-index: 99;
  --block-height: 400px;
  height: var(--block-height);
  min-height: var(--block-height);
  max-height: var(--block-height);
  width: 100%;
}

.wrapper.filler {
  height: 0;
  min-height: 0;
  max-height: 0;
}

.fillterContent {
  background-color: red;
  height: 2px;
  width: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.borderFade {
  position: absolute;
  height: 4rem;
  left: -2px;
  top: -2rem;
  width: 5px;
  background: linear-gradient(
    180deg,
    var(--theme-transparent) 0%,
    var(--theme-background) 100%
  );
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    --block-height: 400px;
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    --block-height: 450px;
  }
}

.parent {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.imageParent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.imageParent.book {
  height: 400px;
}

.imageParent img {
  object-fit: cover;
  /* Tiny border radius still makes a differnece */
  /* border-radius: 18px;
  box-shadow: 1px 1px 20px 1px var(--shadow-color); */
}

.placeholder {
  white-space: nowrap;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  z-index: 1;
  width: 100%;
}

.a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.h1 {
  margin-bottom: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  z-index: 99;
  line-height: 1.8rem;
  font-size: 1.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.imageParent,
.h1,
.description {
  transition: filter var(--animation);
}

.description {
  line-height: 1.4rem;
  padding-left: 0;
  padding-right: 2rem;
  opacity: 0.8;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.metadata {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.viewCount {
  font-size: 0.8rem;
  margin-right: auto;
  display: flex;
  text-align: center;
  align-items: center;
  column-gap: 0.7rem;
  width: 100%;
}

.viewCount svg {
  opacity: 0.5;
}

/* Only run the hover animations on larger screens */
@media only screen and (min-width: 650px) {
  .wrapper:hover .h1,
  .wrapper:hover .imageParent,
  .wrapper:hover .description {
    filter: brightness(1.3);
  }
}

.loader {
  width: 100%;
}

.wrapperLoading {
  pointer-events: none;
}

.blurredOuter {
  padding: 1rem;
}

.blurred {
  backdrop-filter: blur(20px);
  background: transparent;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
