.wrapper {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  min-width: calc(33% - 8px);
  max-width: calc(33% - 8px);
  z-index: 99;
}

.wrapper.filler {
  height: 0;
}

.fillterContent {
  background-color: red;
  height: 2px;
  width: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.borderFade {
  position: absolute;
  height: 4rem;
  left: -2px;
  top: -2rem;
  width: 5px;
  background: linear-gradient(
    180deg,
    var(--theme-transparent) 0%,
    var(--theme-background) 100%
  );
}

@media only screen and (max-width: 900px) {
  .wrapper {
    min-width: calc(50% - 8px);
    max-width: calc(50% - 8px);
  }
}

@media only screen and (max-width: 550px) {
  .wrapper {
    min-width: 100%;
    max-width: 100%;
  }
}

.imageParent {
  position: relative;
  width: 100%;
  height: 250px;
  z-index: 9;
  margin-left: -2rem;
}

.imageParent img {
  object-fit: cover;
  /* Tiny border radius still makes a differnece */
  border-radius: var(--tiny-border-radius);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-right: 1rem;
  background: var(--theme-background);
  margin-left: -2rem;
  width: 100%;
}

.a {
  text-decoration: none;
  color: var(--theme-text);
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.h1 {
  margin-bottom: 1rem;
  padding-left: 2rem;
  margin-left: -1px;
  font-weight: 600;
  border-left: 3px solid var(--theme-text);
  z-index: 99;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.imageParent,
.h1,
.description {
  transition: filter var(--animation);
}

.description {
  line-height: 1.4rem;
  padding-left: 2rem;
  opacity: 0.8;
  font-weight: 200;
}

.wrapper:nth-child(0) .horizontalLine {
  border-top: var(--grid-line);
  position: absolute;
  border-top: none;
  width: 100vw;
  height: 1px;
  left: 0;
}

.verticalLine {
  position: absolute;
  border-left: var(--grid-line);
  width: 1px;
  height: calc(100% + 1rem);
  top: 0rem;
}

/* Only run the hover animations on larger screens */
@media only screen and (min-width: 650px) {
  .wrapper:hover .h1,
  .wrapper:hover .imageParent,
  .wrapper:hover .description {
    filter: brightness(1.3);
  }
}
