.wrapper {
  display: flex;
  flex: 1 1 auto;
  position: relative;

  z-index: 99;
  --block-height: 450px;
  height: var(--block-height);
  min-height: var(--block-height);
  max-height: var(--block-height);
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  overflow: hidden;
  transition:
    filter 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  background-color: var(--theme-card-background);
}

.wrapper.filler {
  height: 0;
  min-height: 0;
  max-height: 0;
}

.fillterContent {
  background-color: red;
  height: 2px;
  width: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.borderFade {
  position: absolute;
  height: 4rem;
  left: -2px;
  top: -2rem;
  width: 5px;
  background: linear-gradient(
    180deg,
    var(--theme-transparent) 0%,
    var(--theme-background) 100%
  );
}

/* @media only screen and (max-width: 1000px) {
  .wrapper {
    --block-height: 400px;
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    --block-height: 450px;
  }
} */

.parent {
  position: relative;
  padding: 0.75rem;
  display: flex;
}

.imageParent {
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  position: relative;
}

.fieldWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: -2px;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.field {
  background: var(--theme-card-background);
  padding: 2px 1rem 4px 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.imageParent.book {
  height: 400px;
}

.imageParent img {
  object-fit: cover;
  height: 100%;
  border-radius: 0.75rem;
}

.placeholder {
  white-space: nowrap;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1;
  width: 100%;
  padding-top: 1rem;
}

.a {
  text-decoration: none;
  display: flex;
  color: var(--theme-text);
  flex-direction: column;
  width: 100%;
}

.h1 {
  margin-bottom: 1rem;
  padding-right: 1rem;
  font-weight: 300;
  z-index: 99;
  line-height: 1.7rem;
  font-size: 1.7rem;
  overflow: visible;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.imageParent,
.h1,
.description {
  transition: filter var(--animation);
}

.description {
  line-height: 1.3rem;
  padding-left: 0;
  padding-right: 2rem;
  opacity: 0.8;
  font-weight: 300;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.metadata {
  display: flex;
  align-items: center;
  margin-top: auto;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: space-between;
}

.viewCount {
  font-size: 0.8rem;
  margin-right: auto;
  display: flex;
  text-align: center;
  align-items: center;
  column-gap: 0.7rem;
  width: 100%;
}

.viewCount svg {
  opacity: 0.5;
}

/* Only run the hover animations on larger screens */
@media only screen and (min-width: 650px) {
  .wrapper:hover {
    transform: scale(1.02);
  }
}

.loader {
  width: 100%;
}

.wrapperLoading {
  pointer-events: none;
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    lightgray 0%,
    darkgray 50%,
    lightgray 100%
  );
  background-size: 1200px 100%;
  animation-name: shimmer;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  color: darkgray;
}
