.bookModalWrapper {
  padding-top: 22rem;
}

@media only screen and (max-width: 900px) {
  .bookModalWrapper {
    flex-direction: column-reverse;
    padding: 2rem;
    padding-top: 24rem;
    width: 100%;
  }

  .booModalCoverWrapper {
    width: 100%;
  }
}
