.heading {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 4rem;
  color: var(--theme-text);
  font-weight: 500;
}

.timelineWrapper {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem 6rem 2rem;
  justify-content: space-between;
}

.blurContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  backdrop-filter: blur(3px);
}

.post {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  color: white;
  text-decoration: none;
  box-shadow: 0 0 0.5rem var(--shadow-color);
  padding: 1rem;
  row-gap: 0.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

@media screen and (hover: hover) {
  .post:hover img {
    opacity: 0.6;
  }
}

.post * {
  z-index: 1;
  text-shadow: var(--shadow-color) 1px 0 20px;
}

.post img {
  object-fit: cover;
  object-position: center;
  z-index: 0;
  transition: all 0.2s;
}

.post h4 {
  font-size: 1.2em;
}

.arrowRight {
  margin-left: auto;
}

.postTitle {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.metadataWrapper {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin-top: auto;
}

.metadataWrapper .metadata {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  opacity: 0.6;
  margin: 0;
  margin-left: auto;
}

.viewCount {
  font-size: 0.8rem;

  color: white;

  display: flex;
  text-align: center;
  align-items: center;
  column-gap: 0.7rem;
}

.viewCount svg {
  opacity: 0.9;
}

.random {
  display: block;
}

.random > span {
  margin-bottom: 2rem;
  opacity: 0.7;
}

@media only screen and (max-width: 700px) {
  .post.single {
    max-width: unset;
  }
}

@media only screen and (max-width: 700px) {
  .timelineWrapper {
    flex-direction: column;
    row-gap: 2rem;
  }

  .post {
    max-width: unset;
  }
}
