.readingTime {
  font-size: 0.8rem;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  column-gap: 0.7rem;
  font-weight: 200;
}

.sectionIcon {
  opacity: 0.5;
}
