.footer {
  background-color: var(--theme-text);
  color: var(--theme-inverted-text);
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  flex-grow: 1;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.column.first {
  min-width: calc(33% - 1rem);
  max-width: calc(33% - 1rem);
}

.column.second {
  min-width: calc(11% - 1rem);
  max-width: calc(11% - 1rem);
}

.column.third {
  min-width: calc(56% - 1rem);
  max-width: calc(56% - 1rem);
  align-items: end;
}

.column a {
  color: var(--theme-inverted-text);
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.column strong {
  margin-bottom: 0.5rem;
  margin-left: -1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--theme-inverted-text);
}

.avatar.avatar {
  margin-left: auto;
}

.copyright {
  text-align: center;
  font-size: 0.9rem;
  margin-top: auto;
  padding-bottom: 1rem;
  opacity: 0.7;
}

.totalViews {
  opacity: 0.6;
  font-size: 0.9em;
  text-align: right;
  padding-top: 1rem;
  max-width: 200px;
}
