.wrapper {
  color: var(--theme-text);
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 8rem;
}

.h1 {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  column-gap: 0.5rem;
}

.p {
  padding-top: 2rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.pre {
  display: inline;
  background-color: var(--theme-text);
  color: var(--theme-background);
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}
