.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 100dvh;
  padding: 0 60px;
}

.title {
  text-align: center;
}

.content {
  font-size: 1.4em;
  text-align: center;
}

.content a {
  color: red;
  text-decoration: none;
}

.logo {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  object-fit: contain;
}

.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}

.entry code {
  /* margin: 0; */
  background-color: darkgreen;
  padding: 4px;
  border-radius: 8px;
}

.divider {
  border-color: darkgreen;
}
