.themeWrapper {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background: var(--theme-dark);
  border-radius: 100%;
  display: flex;
  align-items: center;
  border: 2px solid var(--theme-dark);
  cursor: pointer;
  overflow: hidden;
  transition:
    width var(--animation),
    height var(--animation),
    left var(--animation),
    bottom var(--animation);
}

.dark {
  border-color: var(--theme-yellow);
  background-color: var(--theme-yellow);
}

.themeWrapper svg {
  margin: 0 auto;
}

.relative {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
}

.small {
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
}
