.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.bodyText {
  margin-top: 4rem;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
