.inner.inner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: unset;
}

.imageParent img {
  object-fit: contain;
}

.imageParent {
  position: relative;
  height: 100%;
  width: 100%;
}
