.container {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  transition: padding-top var(--animation);
  align-items: center;
  text-align: center;
}

.small {
  padding-top: 2rem;
  background: white;
  position: sticky;
  top: -25px;
  z-index: 99;
}
