.container {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 16rem;
  transition: all var(--animation);
}

.small {
  padding-top: 2rem;
  top: -2rem;
  z-index: 100;
  height: 12rem;
}

.small.sticky {
  position: sticky;
}

.collapse {
  height: unset;
}
