.fade {
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    var(--theme-transparent) 0%,
    var(--theme-background) 85%
  );
}
