.background {
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
  opacity: 0;
  background: var(--theme-background-gradient);
  z-index: 0;
  transition: opacity var(--animation);
  top: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
}
